body{
	background-image: url(img/nen.jpg);
	}
.search{
	
	margin-left:1000px;
}
.input{
	margin-left:500px;
	width: 300px;
	height: 20px;
}

.img{
	width:200px;
	height: 200px;
}
.contain {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left:70px;
}   
.line button {
  	height: 30px;
	background: green;
	 margin-left:90px;

}

.line p {
	color: midnightblue;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
    align-items: center;
    margin-left:90px;
}
.line1 {
 	display: flex;
    justify-content: space-between;
    width: 600px;
    margin-left: 350px;
    text-align: center;
    align-items: center;
   
}   
.line1 button {
 	 height: 25px;
     background: crimson;
     color: white;
}

.line1 p {
    color: blue;
    font-family: sans-serif;
    font-size: 20px;
}
.bt{
	display:flex;
    justify-content: space-between;
    width:50px;
    margin-left: 450px;
}
.content {
    display: flex;
    justify-content: space-between;
}     
.content h2 {
    color: blue;
 }
.line2{
	width: 300px;
	display: flex;
	justify-content: space-between;
	margin-left:350px;

}
marquee{
	color: black;
	font-family: arial;
	font-weight: 600;

}

img{
	width: 90%;
	height: 320px;
	margin:5%;
}
.img1{
	width: 50px;
	height: 50px;
margin-left:1200px;

}

.menu{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
		margin-left: 230px;		
	}
 
input{
	width: 200px;
	align-items:center;
	text-align: center;
}
.bt1{
	margin-left: 1000px;
}

.bt2{
	margin-left: 1250px;
}
.result1{
	color:black;
	margin-left: 50px;
}
.imgAuto{
	
	height: 420px;
}

.contain1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left:70px;

}  
.btsum{
	margin-left: 20px;
	width:40px;
	height: 30px;
	padding:5px;
}
.btclear{
	margin-left:20px;
	width:70px;
	height: 30px;
	padding:5px;
}
.btsort{
	margin-left:20px;
	width:50px;
	height: 30px;
	padding:5px;
}
.btorder{
	margin-left:20px;
	width:50px;
	height: 30px;
	padding:5px;
}
.sort{
	color: red;
	margin-left: 50px;

}
h3{
	padding: 15px;
	color: white;
	margin-left:30px;
}
.div1 {
 	
    justify-content: space-between;
    width: 300px;
    height: 100px;
    margin-left: 350px;
    border-style: solid;
    border-color: red;
    align-items: center;

  }
  
  .padBt{
  	display: flex;
  	text-align: center;
  	padding: 40px;
  }
  .info {

        height: 300px;
        width: 250px;
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        font-size: 17px;
        text-align: center;
        margin-left:400px;

     }   
    .info input{
            width: 100%;
           height: 30px;
           margin-bottom: 15px;
           border-radius: 5px;
           border: 1px solid #eeeeee;
          
    }
    .info textarea{
        width: 100%;
        height: 80px;
    }
    .form-pay{
        border: none;
        width: 350px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 17px;
        
    }
    .form-pay select{
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #80bb35;
        margin-bottom: 10px;
    }
    .orr{
    	display: flex;
    	margin-left: 10px;
    	padding: 50px;
    }
    .payh3{
    	margin-left: 90px;
    	color: black;
    }
    .pay{
    	color: black;
    }
    .butOrder{
    	
    	margin-left: 100px;
    }

    .contact{
    	text-align: center;
    	align-items: center;
    	background: gray;
    	width: 100%;
    	
    }

    h2{
    	
    	color: black;   
    	padding: 10px;	
    }    
    
